<ion-view title="Pairfit">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
	<input type="text" placeholder="Username" ng-model="login.username">
      </label>
      <label class="item item-input">
	<input type="password" placeholder="password" ng-model="login.password">
      </label>
    </div>
    <div class="padding">
      <button ng-click="signin()" class="button button-block button-assertive">
	Sign In
      </button>
    </div>

    <div class="padding">
      <button ng-click="register()" class="button button-block button-assertive">
	Register
	</button>
    </div>
   
  </ion-content>
</ion-view>
