l<ion-view title="Pairfit">
  <ion-content>
    <div class="registerHomeMsg">
      <span>
	<h2> Congratulations on joining Pairfit! You can now log in.</h2>
      </span>
    </div>
   
   
  </ion-content>
</ion-view>
